.header-index {
  margin: 20px;
  min-height: 250px;
  height: fit-content;
  padding: 10px;
  text-align: center;
  margin-top: 20px;
  border-bottom: solid 1px grey;
}
.header-index h1 {
  font-size: 2em;
}
.header-index h1 h2 {
  font-size: 1.2em;
}
.header-index h1 h2 img {
  width: 40px;
  height: 40px;
}

.conoce-a-florencia {
  height: 500px;
  padding: 10px;
  width: 100%;
  text-align: center;
  padding: 10px;
}
.conoce-a-florencia h2 {
  color: grey;
  font-size: 2em;
  width: 100%;
  text-align: center;
}
.conoce-a-florencia p {
  padding: 10px;
  margin-top: 10px;
  color: grey;
  font-size: 1em;
  width: 100%;
  text-align: center;
}

.img-conoce-a-florencia {
  width: 150px;
  height: 150px;
}

.planes-de-alimentacion {
  color: grey;
  height: 800px;
  padding: 10px;
  margin: 20px;
  margin-bottom: 100px;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to left, rgb(101, 185, 216), rgb(222, 222, 228));
}

.planes-de-alimentacion img {
  width: 80px;
  height: 80px;
}

h2 {
  text-align: center;
}

.titulo-planes-index {
  grid-area: titulo-planes-index;
  margin-bottom: 15px;
  margin-top: 15px;
}

.deportivo-index {
  grid-area: deportivo-index;
  padding: 10px;
}

.saludable-index {
  grid-area: saludable-index;
  padding: 10px;
}

.entrenamiento-index {
  grid-area: entrenamiento-index;
  padding: 10px;
}

@media screen and (min-width: 400px) {
  .conoce-a-florencia {
    height: 500px;
    text-align: center;
  }
  .h2-p-conoce-a-florencia {
    width: 100%;
    text-align: center;
  }
  .img-conoce-a-florencia {
    width: 200px;
    height: 200px;
  }
}
@media screen and (min-width: 900px) {
  .header-index {
    font-size: 1.5em;
  }
  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
  }
  .conoce-a-florencia {
    padding: 10px;
    height: 600px;
    display: grid;
    align-items: center;
    grid-template-areas: "h2-p-conoce-a-florencia img-conoce-a-florencia ";
  }
  .h2-p-conoce-a-florencia {
    grid-area: h2-p-conoce-a-florencia;
    width: 100%;
  }
  .h2-p-conoce-a-florencia h2 {
    grid-area: h2-p-conoce-a-florencia;
    width: 100%;
    font-size: 3em;
    text-align: center;
  }
  .h2-p-conoce-a-florencia p {
    grid-area: h2-p-conoce-a-florencia;
    width: 100%;
    margin: 20px;
    font-size: 1.5em;
    text-align: center;
  }
  .img-conoce-a-florencia {
    grid-area: img-conoce-a-florencia;
    width: 500px;
    height: 500px;
    padding: 15px;
  }
  .planes-de-alimentacion {
    display: grid;
    height: 800px;
    align-content: center;
    justify-content: center;
    align-items: stretch;
    justify-items: normal;
    margin: 20px;
    grid-template-areas: "titulo-planes-index titulo-planes-index " "deportivo-index entrenamiento-index" "saludable-index saludable-index ";
    gap: 30px;
  }
  .deportivo-index {
    font-size: 0.8em;
    width: 500px;
    border: 1px solid lightblue;
  }
  .entrenamiento-index {
    font-size: 0.8em;
    max-width: 500px;
    border: 1px solid lightblue;
  }
  .saludable-index {
    font-size: 0.8em;
    max-width: 1000px;
    border: 1px solid lightblue;
  }
  .titulo-planes-index {
    margin-bottom: 0;
    margin-top: 0;
    max-width: 1000px;
  }
  .planes-de-alimentacion h2 {
    font-size: 3em;
    margin-bottom: 70px;
  }
  .planes-de-alimentacion h3 {
    font-size: 2em;
  }
  .planes-de-alimentacion p {
    font-size: 1.5em;
  }
}
html,
body {
  max-width: 100%;
  overflow-x: hidden;
  object-fit: cover;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar {
  padding: 2rem;
  background-color: rgb(75, 166, 178);
}

.navbar-collapse {
  align-items: center;
  justify-content: center;
}

.navbar-brand img {
  width: 30px;
}

h1 {
  font-size: 2.5rem;
  color: grey;
}

h2 {
  color: grey;
}

.header-index {
  margin: 20px;
  min-height: 250px;
  height: fit-content;
  padding: 10px;
  text-align: center;
  margin-top: 20px;
  border-bottom: solid 1px grey;
}

.hero h1 {
  font-size: 2em;
}

.hero h2 {
  font-size: 1.2em;
}

.hero-img {
  width: 40px;
  height: 40px;
}

.img.hero-img {
  width: 50px;
  height: 50px;
}

footer {
  background-color: rgb(75, 166, 178);
  padding: 20px;
  height: 200px;
  text-align: center;
  justify-content: end;
}

@media screen and (min-width: 900px) {
  .footer p {
    font-size: 1.2em;
    text-align: right;
  }
}
/* PAGINA PLANES DE ALIMENTACION */
.header-planes {
  text-align: center;
  margin: 20px;
  padding: 10px;
}

.contenedor-planesdealimentacion {
  height: fit-content;
  text-align: center;
  padding: 10px;
  margin-bottom: 100px;
  gap: 20px;
  width: 100%;
  background-image: linear-gradient(to left, rgb(101, 185, 216), rgb(222, 222, 228));
}

/*button{
    background-color: $colorPrincipal;
    padding: 5px;
    color: white;
    font-size: small;

}*/
.titulo h2 {
  font-size: 2em;
  padding: 5px;
}

.deportivo {
  padding: 10px;
}

.saludable {
  padding: 10px;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}

.entrenamiento {
  padding: 10px;
}

@media screen and (min-width: 574px) {
  .deportivo {
    grid-area: deportivo;
  }
  .saludable {
    grid-area: saludable;
    border-bottom: none;
    border-top: none;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
  }
  .entrenamiento {
    grid-area: entrenamiento;
  }
  .contenedor-planesdealimentacion {
    display: grid;
    flex-direction: row;
    align-content: center;
    grid-template-areas: "deportivo saludable entrenamiento";
  }
}
.header-preguntas {
  text-align: center;
  padding: 10px;
  margin: 20px;
}

/* PAGINA SOBRE MI*/
.titulo-sobre-mi {
  font-size: 3em;
  color: grey;
  text-align: center;
  margin: 20px;
}

.img-sobre-mi {
  display: flex;
  justify-content: center;
}

.pagina-sobre-mi {
  margin: 20px;
  text-align: left;
  padding: 10px;
}
.pagina-sobre-mi p {
  font-size: 1em;
  color: grey;
  text-align: left;
  width: fit-content;
}
.pagina-sobre-mi img {
  width: 200px;
  height: 200px;
}

@media screen and (min-width: 900px) {
  .titulo-sobre-mi {
    grid-area: titulo-sobre-mi;
    margin-bottom: 20px;
    text-align: center;
  }
  .p-sobre-mi {
    grid-area: p-sobre-mi;
    text-align: center;
  }
  .img-sobre-mi {
    grid-area: img-sobre-mi;
  }
  .pagina-sobre-mi {
    display: grid;
    align-items: center;
    padding: 10px;
    grid-template-areas: "titulo-sobre-mi titulo-sobre-mi" "p-sobre-mi img-sobre-mi";
  }
}
/* PAGINA TURNOS  */
.turnos {
  text-align: center;
  padding: 10px;
  margin: 10px;
  background-image: linear-gradient(to left, rgb(101, 185, 216), rgb(222, 222, 228));
}

.titulo {
  margin-bottom: 10px;
  padding: 20px;
}

.presencial {
  margin-bottom: 20px;
  padding: 20px;
}

.online {
  margin-bottom: 20px;
  padding: 20px;
}

.butoon-turnos {
  color: white;
  background-color: rgb(75, 166, 178);
  border: none;
  padding: 5px;
}

.titulo-header {
  text-align: center;
  margin-top: 20px;
  margin: 20px;
}

@media screen and (min-width: 900px) {
  .titulo-header {
    text-align: center;
    margin-top: 20px;
  }
  .turnos {
    display: grid;
    align-content: center;
    grid-template-areas: "presencial online";
  }
  .titulo h2 {
    text-align: left;
    font-size: 3em;
    color: grey;
  }
  .titulo p {
    text-align: left;
    font-size: 1.5em;
    color: grey;
  }
  .presencial {
    width: 100%;
    text-align: left;
  }
  .online {
    width: 100%;
    text-align: left;
  }
}
.header-contacto {
  text-align: center;
  margin: 20px;
  padding: 10px;
}

.titulo-contacto {
  font-size: 2em;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

label {
  padding: 5px;
  margin: 10px;
}

input {
  padding: 5px;
  margin: 10px;
}

textarea {
  padding: 5px;
  margin: 10px;
}

iframe {
  padding: 20px;
  margin: 10px;
  width: 250px;
  height: 250px;
}

.nombre {
  grid-area: nombre;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.email {
  display: flex;
  grid-area: email;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.telefono {
  grid-area: telefono;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.mensaje {
  grid-area: mensaje;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.envio {
  grid-area: envio;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.mapa {
  grid-area: mapa;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grillaformulario {
  height: fit-content;
  display: grid;
  grid-template-areas: "nombre" "email" "telefono" "mensaje" "envio" "mapa" "mapa";
}

@media screen and (min-width: 724px) {
  .grillaformulario {
    grid-template-areas: "nombre email telefono" "mensaje mapa mapa" "envio mapa mapa";
  }
  iframe {
    width: 400px;
    height: 300px;
  }
}/*# sourceMappingURL=main.css.map */