
/* PAGINA SOBRE MI*/

.pagina-sobre-mi {
    margin: 20px;
    text-align: center;
    padding: 10px;
}

.titulo-sobre-mi {
    font-size: 1.5em;
    color: grey;
    text-align: center;
    margin: 20px;
}

.p-sobre-mi {
    font-size: 1em;
    color: grey;
    text-align: center;
    width: fit-content;
}

.pagina-sobre-mi img {
    width: 200px;
    height: 200px;
}

@media screen and (min-width: 900px) {
    .pagina-sobre-mi {
        display: grid;
        align-items: center;
        padding: 10px;
        grid-template-areas:
            "titulo-sobre-mi titulo-sobre-mi"
            "p-sobre-mi img-sobre-mi";
    }

    .titulo-sobre-mi {
        grid-area: titulo-sobre-mi;
        margin-bottom: 20px;
        text-align: left;
    }

    .p-sobre-mi {
        grid-area: p-sobre-mi;
        text-align: left;
    }

    .img-sobre-mi {
        grid-area: img-sobre-mi;
    }
}


/*preguntas frecuetnes*/
.header-preguntas {
    text-align: center;
    padding: 10px;
    margin: 20px;
}
