
/* PAGINA SOBRE MI*/

.titulo-sobre-mi {
    font-size: 3em;
    color: $colorTexto;
    text-align: center;
    margin: 20px;
}

.img-sobre-mi {
    display: flex;
    justify-content: center;
}

.pagina-sobre-mi {
    margin: 20px;
    text-align: left;
    padding: 10px;
    p {
        font-size: 1em;
        color: $colorTexto;
        text-align: left;
        width: fit-content;
    }

    img{
        width: 200px;
        height: 200px;

    }

}


@media screen and (min-width: 900px) {

    .titulo-sobre-mi {
        grid-area: titulo-sobre-mi;
        margin-bottom: 20px;
        text-align: center;
    }

    .p-sobre-mi {
        grid-area: p-sobre-mi;
        text-align: center;
    }

    .img-sobre-mi {
        grid-area: img-sobre-mi;

    }
    .pagina-sobre-mi {
        display: grid;
        align-items: center;
        padding: 10px;
        grid-template-areas:
            "titulo-sobre-mi titulo-sobre-mi"
            "p-sobre-mi img-sobre-mi";
    }
}