

.turnos {
    text-align: center;
    padding: 10px;
    margin: 10px;
}

.titulo {
    margin-bottom: 10px;
    padding: 20px;
}

.presencial {
    margin-bottom: 20px;
    padding: 20px;
}

.online {
    margin-bottom: 20px;
    padding: 20px;

}

.butoon-turnos {
    color: white;
    background-color: rgb(75, 166, 178);
    border: none;
    padding: 5px;
}

.titulo-header {
    text-align: center;
    margin-top: 20px;
    margin: 20px;
}


@media screen and (min-width: 900px) {

    .titulo-header {
        text-align: center;
        margin-top: 20px;
    }

    .turnos {
        display: grid;
        grid-template-areas:
            "titulo titulo "
            "presencial online";
        align-content: center;
    }

    .titulo {
        text-align: left;
    }

    .titulo h2 {
        text-align: left;
        font-size: 3em;
        color: grey;
    }

    .titulo p {
        text-align: left;
        font-size: 1.5em;
        color: grey;
    }

    .presencial {
        width: 100%;
        text-align: left;
    }

    .online {
        width: 100%;
        text-align: left;
    }

}

