/* PAGINA TURNOS  */

.turnos {
    text-align: center;
    padding: 10px;
    margin: 10px;
    background-image: linear-gradient(to left, rgb(101, 185, 216), rgb(222, 222, 228));

}

.titulo {
    margin-bottom: 10px;
    padding: 20px;
}

.presencial {
    margin-bottom: 20px;
    padding: 20px;
}

.online {
    margin-bottom: 20px;
    padding: 20px;

}

.butoon-turnos {
    color: white;
    background-color: $colorPrincipal;
    border: none;
    padding: 5px;
}

.titulo-header {
    text-align: center;
    margin-top: 20px;
    margin: 20px;
}


@media screen and (min-width: 900px) {

    .titulo-header {
        text-align: center;
        margin-top: 20px;
    }

    .turnos {
        display: grid;
        align-content: center;
        grid-template-areas:
            "presencial online";
    }

    .titulo h2 {
        text-align: left;
        font-size: 3em;
        color: $colorTexto;
    }

    .titulo p {
        text-align: left;
        font-size: 1.5em;
        color: $colorTexto;
    }

    .presencial {
        width: 100%;
        text-align: left;
    }

    .online {
        width: 100%;
        text-align: left;
    }

}