//variables globales> cajas que guardan datos> por ejemplo la edad 22 a;os, color rojo. Puede vriar el dato y se actualiza en todos lados 
//se definen con el signo $
//luego main $

$mainColor: green;
$secondaryColor: lightgreen
$white: rgb(235, 229, 299);
$keyColor: black;

//fonts
$mainFont: 'Roboto', sans-serif;

//weight
$textRegular:400;
$textLight: 300;

